body {
    text-align: center;
    background-color: lightgreen;
    background-repeat: no-repeat;
}

h1 {
    text-shadow: 20% 20% #F8BBD0;
}

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

#sec1 {
    text-align: center;
}
#infosec1 {
    font-family: 'Birthstone', cursive;
}
